.text-align-center {
  text-align: center;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 0;
  background-color: #DFF6FF;
  padding: 0 30.6rem;
  height: 100vh;
}

.section-video {
  height: 52rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}

.video-player {
  height: 100%;
  width: 100%;
}

.section-data {
  background-color: #ffffff;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.data {
  height: 13.3rem;
  display: flex;
  flex-direction: row;
}

.arrow {
  height: 100%;
  width: 5%;
  position: relative;
  cursor: pointer;
}
.arrow__triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 5.2rem;
  color: #000000;
}
.arrow__triangle_left {
  border-right: 20px solid;
  right: 1.5rem;
}
.arrow__triangle_right {
  border-left: 20px solid;
  left: 1.5rem;
}
.arrow__empty {
  color: #D9D9D9;
}
.arrow__full {
  color: #000000;
}

.data-container {
  width: 90%;
  position: relative;
}

.mood-columns {
  height: 45%;
}
.mood-columns__piece {
  width: 1rem;
  position: absolute;
  left: 9rem;
  opacity: 0.9;
  transition: all 0.3s ease-out;
}
.mood-columns__piece:hover {
  transform: scale(1.04);
  opacity: 1;
}
.mood-columns__piece:hover ~ .label, .mood-columns__piece:hover ~ .time-pointer {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.mood-columns__piece_level-1 {
  height: 2rem;
  top: 4rem;
}
.mood-columns__piece_level-2 {
  height: 4rem;
  top: 2rem;
}
.mood-columns__piece_level-3 {
  height: 6rem;
  top: 0;
}
.mood-columns__piece_happiness {
  background-color: #FFFF00;
}
.mood-columns__piece_astonishment {
  background-color: #00D0AB;
}
.mood-columns__piece_fear {
  background-color: #777777;
}
.mood-columns__piece_disgust {
  background-color: #8D188F;
}
.mood-columns__piece_anger {
  background-color: #CF0A0A;
}
.mood-columns__piece_sadness {
  background-color: #015EAD;
}
.mood-columns__dotted {
  width: 0.4rem;
  height: 4rem;
  position: absolute;
  top: 2rem;
  left: 12rem;
  border-left: 0.4rem dashed #000000;
}

.progress-bar {
  background-color: #D9D9D9;
  height: 10%;
}
.progress-bar__passed {
  background-color: #47B5FF;
  width: 33rem;
  height: 100%;
}
.progress-bar__cursor {
  background-color: #47B5FF;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 5.6rem;
  left: 32rem;
}

.time-pointer {
  width: 0.1rem;
  height: 2rem;
  background-color: #000000;
  position: absolute;
  top: 7.3rem;
  left: 9.5rem;
  visibility: hidden;
  opacity: 0;
}
.time-pointer__time-value {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  color: #000000;
  position: absolute;
  top: 2rem;
  left: 0;
  transform: translateX(-50%);
}

.time-line {
  height: 45%;
  position: relative;
}
.time-line__pointer {
  position: absolute;
  top: 0;
  left: 9.5rem;
  width: 0.1rem;
  height: 2rem;
  background-color: #000000;
}
.time-line__pointer_start {
  left: 0;
  height: 4rem;
}
.time-line__pointer_finish {
  left: auto;
  right: 0;
  height: 4rem;
}
.time-line__time-value {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  color: #000000;
  position: absolute;
  top: 2rem;
  left: -1.5rem;
}
.time-line__time-value_start {
  font-size: 1.2rem;
  left: 0;
  top: 4.3rem;
}
.time-line__time-value_finish {
  font-size: 1.2rem;
  left: auto;
  right: -0.5rem;
  top: 4.3rem;
}

.legend {
  height: 7.6rem;
}
.legend__container {
  width: 14rem;
  height: 4rem;
}
.legend__container_string {
  display: flex;
  flex-direction: row;
}
.legend__bar {
  width: 4rem;
  height: 0.5rem;
  margin: 0.65rem 0.5rem 0 0;
}
.legend__bar_dotted {
  border-bottom: 0.4rem dashed #000000;
}
.legend__bar_question {
  background-color: #47B5FF;
  position: relative;
}
.legend__bar_question_mark {
  height: 100%;
  width: 0.6rem;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.row-1 {
  height: 30%;
}

.row-2 {
  height: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.row-2_none {
  display: none;
}

.icon {
  text-align: center;
}
.icon__img {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
}
.icon__expand {
  display: none;
}
.label {
  width: 11rem;
  height: 3rem;
  background-color: rgba(217, 217, 217, 0.95);
  border-radius: 1rem 1rem 1rem 0;
  position: absolute;
  left: 10rem;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.label__text {
  text-align: center;
  transform: translateY(30%);
}

@media (max-width: 1450px) {
  body {
    padding: 0 25rem;
  }
}
@media (max-width: 1350px) {
  body {
    padding: 0 20rem;
  }
}
@media (max-width: 1250px) {
  body {
    padding: 0 15rem;
  }
}
@media (max-width: 1150px) {
  body {
    padding: 0 10rem;
  }
}
@media (max-width: 1050px) {
  body {
    padding: 0 5rem;
  }
}
@media (max-width: 950px) {
  body {
    padding: 0;
  }
  .arrow__triangle_left {
    right: 0.5rem;
  }
  .arrow__triangle_right {
    left: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
