.text-align-center {
  text-align: center;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}

.margin-left-26px {
  margin-left: 26px;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: 0;
  background-color: #DFF6FF;
  padding: 0 30.6rem;
  height: 100vh;
}

@media (max-width: 1450px) {
  body {
    padding: 0 25rem;
  }
}
@media (max-width: 1350px) {
  body {
    padding: 0 20rem;
  }
}
@media (max-width: 1250px) {
  body {
    padding: 0 15rem;
  }
}
@media (max-width: 1150px) {
  body {
    padding: 0 10rem;
  }
}
@media (max-width: 1050px) {
  body {
    padding: 0 5rem;
  }
}
@media (max-width: 950px) {
  body {
    padding: 0;
  }
  .arrow__triangle_left {
    right: 0.5rem;
  }
  .arrow__triangle_right {
    left: 0.5rem;
  }
}
.section-video {
  height: 52rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}

.video-player {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-checkBox {
  height: 2rem;
  display: flex;
  justify-content: right;
  padding-right: 1rem;
}
.section-checkBox input {
  margin-right: 1rem;
}

.legend__container {
  width: 14rem;
  height: 4rem;
}
.legend__container_string {
  display: flex;
  flex-direction: row;
}
.legend__bar {
  width: 4rem;
  height: 0.5rem;
  margin: 0.65rem 0.5rem 0 0;
}
.legend__bar_dotted {
  border-bottom: 0.4rem dashed #000000;
}
.legend__bar_question {
  background-color: #47B5FF;
  position: relative;
}
.legend__bar_question_mark {
  height: 100%;
  width: 0.6rem;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.row-1 {
  height: 30%;
}

.row-2 {
  height: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.row-2_none {
  display: none;
}

.icon {
  text-align: center;
}
.icon__img {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
}
.icon__expand {
  display: none;
}

.data-container {
  width: 90%;
  position: relative;
}

.mood-columns {
  height: 45%;
}
.mood-columns__piece {
  width: 1rem;
  position: absolute;
  left: 9rem;
  opacity: 0.9;
  transition: all 0.3s ease-out;
}
.mood-columns__piece:hover {
  transform: scale(1.04);
  opacity: 1;
}
.mood-columns__piece:hover ~ .label, .mood-columns__piece:hover ~ .time-pointer {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.mood-columns__piece_level-1 {
  height: 2rem;
  top: 4rem;
}
.mood-columns__piece_level-2 {
  height: 4rem;
  top: 2rem;
}
.mood-columns__piece_level-3 {
  height: 6rem;
  top: 0;
}
.mood-columns__piece_happiness {
  background-color: #FFFF00;
}
.mood-columns__piece_astonishment {
  background-color: #00D0AB;
}
.mood-columns__piece_fear {
  background-color: #777777;
}
.mood-columns__piece_disgust {
  background-color: #8D188F;
}
.mood-columns__piece_anger {
  background-color: #CF0A0A;
}
.mood-columns__piece_sadness {
  background-color: #015EAD;
}
.mood-columns__dotted {
  width: 0.4rem;
  height: 4rem;
  position: absolute;
  top: 2rem;
  left: 12rem;
  border-left: 0.4rem dashed #000000;
}

.label {
  width: 11rem;
  height: 3rem;
  background-color: rgba(217, 217, 217, 0.95);
  border-radius: 1rem 1rem 1rem 0;
  position: absolute;
  left: 10rem;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.label__text {
  text-align: center;
  transform: translateY(30%);
}

.progress-bar {
  background-color: #D9D9D9;
  height: 10%;
}
.progress-bar__passed {
  background-color: #47B5FF;
  width: 0;
  height: 100%;
}
.progress-bar__cursor {
  background-color: #47B5FF;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 5.6rem;
  left: 0;
  transform: translateX(-50%);
}

.time-pointer {
  width: 0.1rem;
  height: 2rem;
  background-color: #000000;
  position: absolute;
  top: 7.3rem;
  left: 9.5rem;
  visibility: hidden;
  opacity: 0;
}
.time-pointer__time-value {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  color: #000000;
  position: absolute;
  top: 2rem;
  left: auto;
}

.time-line {
  height: 45%;
  position: relative;
}
.time-line__pointer {
  position: absolute;
  top: 0;
  left: 9.5rem;
  width: 0.1rem;
  height: 2rem;
  background-color: #000000;
}
.time-line__pointer_start {
  left: 0;
  height: 4rem;
}
.time-line__pointer_finish {
  left: auto;
  right: 0;
  height: 4rem;
}
.time-line__time-value {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.2rem;
  color: #000000;
  position: absolute;
  top: 2rem;
  left: -1.5rem;
}
.time-line__time-value_start {
  font-size: 1.2rem;
  left: 0;
  top: 4.3rem;
}
.time-line__time-value_finish {
  font-size: 1.2rem;
  left: auto;
  right: -0.5rem;
  top: 4.3rem;
}

.arrow {
  height: 100%;
  width: 5%;
  position: relative;
  cursor: pointer;
}
.arrow__triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 5.2rem;
  color: #000000;
}
.arrow__triangle_left {
  border-right: 20px solid;
  right: 1.5rem;
}
.arrow__triangle_right {
  border-left: 20px solid;
  left: 1.5rem;
}
.arrow__empty {
  color: #D9D9D9;
}
.arrow__full {
  color: #000000;
}

.section-data {
  background-color: #ffffff;
  width: 100%;
  border-radius: 1rem;
}

.data {
  height: 13.3rem;
  display: flex;
  flex-direction: row;
}

.row {
  max-width: 82rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 1rem;
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 2rem;
}

.col-1-of-2 {
  width: calc((100% - 2rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 2rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 2rem) / 4);
}

.col-1-of-6 {
  width: calc((100% - 5 * 2rem) / 6);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2*2rem) / 3 + 2rem);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3*2rem) / 4 + 2rem);
}

.col-2-of-6 {
  width: calc(2 * (100% - 5*2rem) / 6 + 2rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3*2rem) / 4 + 2 * 2rem);
}

.col-3-of-6 {
  width: calc(3 * (100% - 5*2rem) / 6 + 2 * 2rem);
}

.col-4-of-6 {
  width: calc(4 * (100% - 5*2rem) / 6 + 3 * 2rem);
}

.col-5-of-6 {
  width: calc(5 * (100% - 5*2rem) / 6 + 4 * 2rem);
}

.main-page {
  padding-top: 1.5rem;
}

.section-list {
  background-color: #ffffff;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text {
  font-weight: 400;
  font-size: 1.4rem;
  padding: 0.5rem 0 0.5rem 0;
}
.text__name {
  font-size: 1.6rem;
  color: #777777;
}
.text__form {
  font-size: 1.6rem;
}

.icon-list {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  display: inline-block;
  position: relative;
}
.icon-list:not(:last-child) {
  margin-right: 1rem;
}
.icon-list__img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0.1rem;
  left: 0.3rem;
}
.icon-list:hover {
  background-color: rgba(217, 217, 217, 0.5);
}
.icon-list:active {
  background-color: #D9D9D9;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  border-radius: 2rem;
  padding: 0.8rem 2.5rem;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-out;
}
.btn:hover {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:active {
  box-shadow: inset 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}
.btn__cancel {
  background-color: #777777;
}
.btn__confirm {
  background-color: #47B5FF;
}
.btn__form {
  display: flex;
  flex-direction: row;
}

.row__container {
  max-width: 84rem;
  background: linear-gradient(180deg, rgba(223, 246, 255, 0.5) 10%, rgba(71, 181, 255, 0.5) 75%);
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form__group {
  margin-left: 1rem;
  margin-right: 1rem;
}
.form__input {
  padding: 1rem 0 1rem 1rem;
  background: #ffffff;
  border: none;
  border-radius: 1rem;
  border-bottom: 0.3rem solid transparent;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  color: #777777;
}
.form__input_name {
  width: 100%;
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}

.input-file {
  display: flex;
  flex-direction: row;
  position: relative;
}
.input-file__text {
  padding: 0 1rem;
  line-height: 4rem;
  text-align: left;
  height: 4rem;
  display: block;
  float: left;
  width: 80%;
  background: #ffffff;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  color: #777777;
  margin-right: 1rem;
  white-space: nowrap;
}
.input-file__btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  line-height: 2.2rem;
  height: 4rem;
  padding: 1rem 2rem;
  margin: 0;
  width: 20%;
  background-color: rgba(71, 181, 255, 0.7);
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  border-radius: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-out;
}
.input-file__btn:hover {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.input-file__btn:active {
  box-shadow: inset 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.video-file {
  display: none;
}

/*# sourceMappingURL=style.css.map */
